{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила сайта
      </div>
      <div class="card-body">
        <p>
          <b>Свобода.</b> Хочешь - пиши пост, хочешь - не пиши!
        </p>
        <p>
          <b>Креатив.</b> Вы можете нарисовать картину, отсканировать её и прикрепить
          изображение к посту, её увидят и оценят!
        </p>
        <p>
          <b>Самовыражение.</b> При  желании пишите посты с ошибками и
          никто вам ничего не скажет, это ли не прекрасно!
        </p>
        <p>
          <b>Личность.</b> Вы решаете, можно ли другим смотреть ваш пост или нет!
          (ещё это может делать администратор)
        </p>
      </div>
    </div>
  </div>
{% endblock %}